$p-color: #607d8b;
$pl-color: #8eacbc;
$pd-color: #34515f;
$s-color: #03a9f4;
$sl-color: #67daff;
$sd-color: #007ac1;
$font-family: sans-serif;
$p-font-color: white;
$pl-font-color: white;
$pd-font-color: white;
$s-font-color: black;
$sl-font-color: black;
$sd-font-color: black;