$primary: #616161;
$primary-light: #8e8e8e;
$primary-dark: #373737;
$primary-text: #ffffff;
$secondary: #607d8b;
$secondary-light: #8eacbb;
$secondary-dark: #34515e;
$secondary-text: #000000;
$accent: #039be5;
$accent-light: #63ccff;
$accent-dark: #006db3;
$accent-text: #000000;

$font-primary: inherit;
$font-secondary: inherit;