@import "theme";

.host {
  background-color: $secondary;
  color: $secondary-text;
  padding: 10px;

  &:hover {
    background-color: $secondary-light;
    text-decoration: none;
  }

  &.primary {
    background-color: $primary;
    color: $primary-text;
    &:hover {
      background-color: $primary-light;
    }
  }
}
