@import "theme";

.host {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 9999;
  display: grid;
  opacity: 0;
  // transition: all .2s ease-in;
  transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1);

  &.enter {
    opacity: 1;
  }

  .image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0;

    opacity: 0;
    // transition-property: opacity;
    // transition-duration: 0.1s;
    // transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
    transition: all 250ms cubic-bezier(0.075, 0.82, 0.165, 1);

    &.visible {
      opacity: 1;
      // transition-duration: 0.4s;
    }
  }

  .loader {
    display: flex;
    align-self: center;
    justify-self: center;
    justify-content: center;
    align-items: center;
    opacity: 0;
    width: 100px;
    height: 100px;
    transition-property: opacity;
    transition-duration: 0.1s;
    transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);

    &.visible {
      opacity: 1;
      transition-duration: 0.4s;
      transition-delay: 0.3s;
    }
  }

  .hidden-image {
    display: none;
  }

  .button {
    position: absolute;
    background-color: $s-color;
    background-position: center center;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    top: calc(50% - 20px);
    z-index: 999;
    cursor: pointer;
    // background-size: contain;

    &:hover {
      background-color: $sl-color;
    }

    &:active {
      transform: scale(0.95);
    }
  }

  .prev-button {
    left: 0;
    background-image: url("../images/left-icon.svg");
  }

  .next-button {
    right: 0;
    background-image: url("../images/right-icon.svg");
  }

  .close-button {
    right: 0;
    top: 0;
    background-image: url("../images/close-icon.svg");
  }
}
