@import "../styles/breakpoints";

.host {
  position: relative;
  display: grid;
  grid-template-columns: minmax(auto, $lg);
  padding: 30px $gutter 30px $gutter;
  background-size: cover;
  background-position: center center;
  min-height: 10px;
  justify-content: center;

  &.content {
    align-items: center;
    justify-content: center;
  }

  &.slideshow {
    padding: 0;
    grid-template-columns: 1fr;
    min-height: 500px;
  }

  &.compact {
    max-width: $lg;
    margin: 0 auto;
  }
}
